body,div,img,ul,li,a,h1,h2,h3,p,span,input,button{
	padding: 0;
	border: 0;
	margin:0;
	font-size: 13px;
	font-family: 'Segoe UI', Segoe, Tahoma, Arial, Verdana, sans-serif;
	outline:none
}
html,body{
	max-height: 1080px;
	max-width: 1920px;
	height: 100%;
	width: 100%;
	margin: 0 auto;

}
body{
	background: #333;
	z-index: 100;
}
#body{

	height:100%;
	width: 100%;
	background: url(images/back_1.jpg) no-repeat;
	margin:auto auto;
	min-height: 600px;
	min-width: 800px;
	position: relative;
}
a{
	list-style: none;
	text-decoration: none;
}
header{
	background: #333;
	height: 43px;
	width: 100%;
	color: #acacac;
	margin:auto;
}
#body .headLeft{
	float: left;
}
#body .headLeft ul{
	height: 39px;
	width:auto;
	padding-left: 33px;
}
#body .headLeft ul .li_f{
	padding: 0 13px;
	text-align: left;
}
#body .headLeft ul li{
	line-height: 43px;
	display: inline-block;
	padding: 0 16px;
}
#body .headLeft ul li a {
	color: #acacac;
}
#body .headLeft ul li a:hover{
color:#fff;
}
#body .headRigth{
	height: 43px;
	float: right;
}
#body .headRigth a{
	color: #acacac;
	line-height: 43px;
}
#body .headRigth a .zm{
	height:20px;
	width: 20px;
	vertical-align: text-top;
	display: inline-block;
	background:url(images/back.png) no-repeat -5px -5px;
	margin-right: 4px;
}
#body .headRigth .goEn{
	float: left;
}
#body .headRigth .shu{
	float: left;
	line-height: 43px;
	padding-left:19px;
	padding-right: 10px;  
}
#body .headRigth .load{
	padding:0 12px;
	width: 89px;
	display: inline-block;
}
#body .headRigth .load_text{
	float: left;
	margin-right: 2px;
}
#body .headRigth .load_img{
height: 50px;
float: left;
width: 50px;
margin:-3px 5px 0 6px;
display:block;
border-radius: 25px;
background:#555 url(images/hpc18.png) no-repeat -2px -140px;
}
#body .headRigth .load_text:hover{
	color:#fff;
}
#body .headRigth .goEn:hover a{
	color:#fff;
}
#body .headRigth .goEn:hover span{
	background-position: -35px -5px; 
}
#body .headRigth .setUp{
	display: inline-block;
	height: 22px;
	width: 22px;
	margin:0 47px 14px 4px;  
	background: url(images/hpc18.png) no-repeat -190px -148px;
}
#body .headRigth .setUp:hover{
	background-position: -168px -148px; 
}
#body .search{
	position: absolute;
	top: 20%;
	left: 8%;
	width:auto;
	height: 53px;
	margin-top: -4px;
	z-index: 10000;
}
#body .search img{
	width: 107px;
	float: left;
	height: 53px;
	display: inline-block;
}
#body .search form{
	float: left;
	margin:4px 0 0 18px;
}
#body .search input{
	border: 1px solid #e5e5e5;
	height: 43px;
	width: 500px;
	border-right:0;
	font-size: 18px;
	text-indent: 9px;
	float: left;
	font: "Segoe UI",Arial,Helvetica,sans-serif;
}
#body .search button{
	height: 45px;
	width: 45px;
	background: #0c8484 url(images/hpc18.png)no-repeat -161px -55px;
	float: left;
}
#body .share{
	height: 60px;
	width: 100%;
	position: absolute;
	bottom: 35px;
}
#body .share .box{
	float: right;
}
#body .share  a{
	display: inline-block;
	height: 40px;
	width: 40px;
	margin: 0 10px;
	border-radius: 20px;
	float: left;
cursor:pointer
}
#body .share .qq{
	background:url(images/index.png) no-repeat 0 -294px ;
	position: absolute;
	display: none;
	margin-left:-30px;
}
#body .share .wb{
	background: url(images/index.png) no-repeat 0 -252px ;
	display: none;
	position: absolute;
	margin-left:-90px;
}
#body .share .wx{
	background: url(images/index.png) no-repeat 0 -210px ;
	display: none;
	position: absolute;
		margin-left:-150px;
}
#body .share .share_1{
	background: url(images/index.png) no-repeat;
	position: relative;
}
#body .share .xz{
	background: url(images/xz.png) no-repeat;
}
#body .share .off{
	background: url(images/index.png) no-repeat 0 -378px;
	display: none;
} 
#body .share .left{
	background: url(images/index.png) no-repeat 0 -84px;
}
#body .share .right{
	background: url(images/index.png) no-repeat 0 -126px;
}
#body .share .i{
	background: url(images/index.png) no-repeat 0 -42px;
	margin-right: 20px;
}







footer{
	height: 35px;
	position: absolute;
	bottom: 0px;
	background: #333;
	width: 100%;
	
}
footer ul{
	margin-right: 20px;
	line-height: 32px;
	font-size: 13px;
	color: #666;
	float: right;
}
footer ul li{
	margin:0 10px;
	display: inline-block;
	}
footer ul li:hover{
	color:#999;
}
footer ul a{
	color: #666;
}
footer ul a:hover{
	color:#999;
	text-decoration: underline;
}

footer ul li .fk{
	color:#999;
}

.tanchu{
	position: absolute;
	top: 0px;
	left: 0px;
	opacity:0.5;
	-moz-transition:background 1s;
	height: 100px;
	width: 100px
	z-index:1;
	background: #000;
}